*, *::after, *::before{
    box-sizing: border-box;
}
body{
    margin: auto;
    max-width: 1600px;
}
.header, .main{
    max-width: 1600px;
    background-color: $primary;
}
.hidden{
    opacity: 0;
}
.visible{
    opacity: 1;
    transition: 0.5s opacity ease-in-out;
}