@import url("https://fonts.cdnfonts.com/css/argue-demo");
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1600px;
  height: 7210px;
}

.header, .main {
  max-width: 1600px;
  background-color: #EEF1FB;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: 0.5s opacity ease-in-out;
}

.header .container {
  background-color: #EEF1FB;
  max-width: 1440px;
  height: 106px;
  margin: auto;
}

nav {
  z-index: 1;
}
nav .navbar-brand span {
  color: #F65606;
}
nav .btn-custom {
  width: 165px;
  height: 55px;
}

.container-fluid {
  background-color: #EEF1FB !important;
}

.about {
  z-index: 0;
  background-color: #EEF1FB;
  max-width: 1440px;
  height: 1280px;
  margin: auto;
  position: relative;
}
.about-header {
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
  line-height: 80px;
  position: absolute;
  top: 8%;
}
.about .buttons {
  display: flex;
  justify-content: center;
  z-index: 6;
  margin-top: -200px;
}
.about-btn {
  width: 184px;
  height: 63px;
}
.about .get-started {
  color: white;
  background-color: #F65606;
  border: none;
  border-radius: 0.25rem;
}
.about-icon {
  position: absolute;
  left: 80%;
  bottom: 69%;
  z-index: 0;
  transform: translateX(-55%);
  max-width: 186px;
  max-height: 110px;
}
.about-ellipses {
  position: absolute;
  left: 50%;
  bottom: 68%;
  z-index: 4;
  transform: translateX(-55%);
}
.about-young-girl {
  position: absolute;
  left: 56.5%;
  bottom: 27%;
  z-index: 4;
  transform: translateX(-55%);
}
.about-circle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-35%);
  z-index: 2;
  max-width: 897px;
  max-height: 897px;
}
.about-box {
  z-index: 4;
  position: absolute;
  left: -5.55%;
  bottom: 0;
  background-color: #1A1D30;
  max-width: 899px;
  height: 290px;
}
.about-box-header {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 90px;
}
.about-box-descr {
  color: #CCCCCC;
  font-size: 18px;
}
.about-box .first-w {
  max-width: 202px;
}
.about-box .second-w {
  max-width: 246px;
}
.about-young-man {
  position: absolute;
  left: 70%;
  bottom: 0;
  transform: translateX(-35%);
  z-index: 4;
  max-width: 606px;
  max-height: 742px;
}

@media (max-width: 575.98px) {
  .about {
    height: 440px;
  }
  .buttons {
    bottom: -50%;
    left: 0%;
  }
}
@media (max-width: 767.98px) {
  .buttons {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    margin: 0;
    margin-top: -250px;
  }
  .about-header {
    top: 3%;
    font-size: 36px;
    line-height: 38px;
  }
  .about-young-girl {
    bottom: 23%;
  }
}
@media (max-width: 991px) {
  .buttons {
    margin-top: 10px;
  }
  .about-header {
    top: 5%;
  }
  .about-young-girl {
    bottom: 23%;
  }
}
.services-section {
  background-color: #F5F4FB;
}

.services {
  position: relative;
  margin-left: 100px;
  max-width: 1600px;
  height: 1100px;
}
.services-info {
  margin-top: 200px;
}
.services .services-header {
  max-width: 533px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  line-height: 65px;
}
.services .services-descr {
  max-width: 493px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
.services .services-young-man {
  position: absolute;
  left: 7.6%;
  bottom: 0;
  transform: translateX(-35%);
}
.services .service-option {
  max-height: 285px;
}
.services .service-option .option .option-number {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
.services .service-option .option .option-header {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  stroke: 0.5 #000000;
}
.services .service-option .option .explore {
  margin-left: 105px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.services .service-option .option img {
  max-width: 68px;
  max-height: 68px;
}
.services .service-option .orange {
  color: #F65606;
}
.services .service-option .purple {
  color: #BF6FE1;
}
.services .service-option .darkblue {
  color: #1A1D30;
}

@media (max-width: 1199.98px) {
  .services-header {
    font-size: 56px !important;
  }
  .explore {
    margin-left: 0px !important;
  }
}
@media (max-width: 991.98px) {
  .services {
    height: 1500px;
  }
  .services-options, .services-inform {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .services-header {
    font-size: 48px !important;
  }
  .services-info {
    margin-top: 100px !important;
  }
}
@media (max-width: 575.98px) {
  .services {
    height: 1300px;
    margin-left: 0;
  }
  .services-options, .services-inform {
    margin-top: 0 !important;
    width: 90%;
    margin: auto;
  }
  .services-header {
    font-size: 32px !important;
  }
  .option-header {
    justify-content: space-evenly;
    font-size: 26px !important;
    line-height: 26px !important;
  }
  .option-number {
    font-size: 20px !important;
  }
  .option-link {
    width: 40px;
  }
}
.cstmz {
  position: relative;
  max-width: 1600px;
  height: 1400px;
  margin: 0;
}
.cstmz-container {
  margin: auto;
  padding: 0;
  max-width: 1375px;
  height: 1072px;
}
.cstmz-header {
  margin-left: 180px;
  max-width: 1148px;
  color: #1A1D30;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
}
.cstmz-center {
  margin-top: 108px;
}
.cstmz-center-descr {
  max-width: 420px;
  margin-top: 71px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 20px;
}
.cstmz-center-btn {
  width: 184px;
  height: 63px;
  margin-top: 52px;
  color: white;
  background-color: #F65606;
  border: none;
  border-radius: 0.25rem;
}
.cstmz-center-person {
  max-width: 808px;
  max-height: 470px;
}
.cstmz-footer {
  height: 145px;
  margin-top: 100px;
}
.cstmz-footer-number {
  font-size: 180px;
}
.cstmz-footer-info {
  margin-left: 56px;
  margin-top: 25px;
}
.cstmz-footer-info-header {
  color: #1A1D30;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}
.cstmz-footer-info-descr {
  width: 555px;
  margin-top: 22px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 20px;
}
.cstmz-footer-info-hands {
  margin-left: 80px;
}

.def-design {
  position: relative;
  max-width: 1600px;
  height: 1520px;
  background-color: #F5F4FB;
  margin: 0;
}
.def-design hr {
  border: 1px solid #EEF1FB;
}
.def-design-img {
  max-width: 1486px;
  height: 334px;
  position: absolute;
  margin: 76px 72px 155px 42px;
}
.def-design-header {
  max-width: 612px;
  height: 160px;
  margin: 154px 586px 155px 402px;
  color: #1A1D30;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 80px;
  line-height: 80px;
}

.image-slider__slide__header {
  margin-top: 54px;
}

.image-slider__slide__explore {
  margin-top: 46px;
}

.wrapper {
  width: 1504px;
  padding: 30px;
  min-height: 100%;
}

.image-slider {
  padding: 30px 0px 70px 0px;
}

.image-slider__image {
  text-align: center;
  width: 514px;
}

.image-slider__image img {
  max-width: 100%;
}

.image-slider .swiper-button-next::after,
.image-slider .swiper-button-prev::after {
  color: #F65606;
}

.image-slider .swiper-pagination {
  top: 29%;
}

.swiper-pagination-bullet {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}

.swiper-pagination-bullet-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: #1A1D30;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.swiper-pagination-bullet-active .swiper-pagination-bullet-inner {
  opacity: 1;
}

.swiper-pagination-bullet-active:before {
  content: "";
  position: absolute;
  top: -27px;
  left: -27px;
  right: -27px;
  bottom: -27px;
  border: 1px solid #1A1D30;
  border-radius: 100px;
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.team {
  position: relative;
  background-color: #EEF1FB;
  max-width: 1600px;
  height: 1048px;
  margin: 0;
}
.team-container {
  max-width: 1352px;
  height: 706px;
  margin: 114px 200px 228px 48px;
}
.team-container-info {
  width: 873px;
  height: 706px;
}
.team-container-info-header {
  max-width: 705px;
  color: #1A1D30;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  line-height: 60px;
  margin: 76px 116px 118px 52px;
}
.team-container-info .carousel-scroll {
  max-width: 134px;
  margin: auto;
  margin-top: 56px;
}
.team-container-info-descr .avatar {
  max-width: 87px;
}
.team-container-info-descr-img {
  max-width: 210px;
}
.team-container-info-descr-details {
  margin-left: 130px;
}
.team-container-info-descr .full-name {
  color: #1A1D30;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  line-height: 30px;
}
.team-container-info-descr .member-descr {
  width: 437px;
  font-size: 16px;
  margin-top: 38px;
}
.team-container-personimg {
  max-width: 479px;
  height: 706px;
}

.footer {
  position: relative;
  background-color: #F5F4FB;
  max-width: 1600px;
  height: 755px;
  margin: 0;
}
.footer-container {
  width: 1486px;
  height: 458px;
  padding: 0;
  background-image: url("images/footer-img.png");
}
.footer-header {
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  font-weight: 600;
}
.footer-descr {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin-top: 10px;
}
.footer-btn {
  width: 184px;
  height: 63px;
  margin-top: 52px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  background-color: #F65606;
  border: none;
  border-radius: 0.25rem;
}
.footer .contacts {
  max-width: 667px;
  margin: auto;
  margin-top: -30px;
}
.footer-foot {
  width: 1400px;
  height: 62px;
  padding: 0;
}
.footer .contact-width {
  width: 116px;
}