@import url("https://fonts.cdnfonts.com/css/argue-demo");
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1600px;
  height: 7210px;
}

.header, .main {
  max-width: 1600px;
  background-color: #EEF1FB;
}

.header .container {
  background-color: #EEF1FB;
  max-width: 1440px;
  height: 106px;
  margin: auto;
}

nav .navbar-brand span {
  color: #F65606;
}
nav .btn-custom {
  width: 165px;
  height: 55px;
}

.about {
  z-index: 0;
  background-color: #EEF1FB;
  max-width: 1440px;
  height: 1280px;
  margin: auto;
  position: relative;
}
.about .about-header {
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -170%);
}
.about .about-btn {
  max-width: 184px;
  height: 63px;
  position: absolute;
  top: 35%;
  z-index: 6;
}
.about .get-started {
  left: 35%;
  color: white;
  background-color: #F65606;
  border: none;
  border-radius: 0.25rem;
}
.about .view-demo {
  left: 50%;
}
.about .about-icon {
  position: absolute;
  left: 80%;
  bottom: 69%;
  z-index: 0;
  transform: translateX(-55%);
  max-width: 186px;
  max-height: 110px;
}
.about .about-ellipses {
  position: absolute;
  left: 50%;
  bottom: 68%;
  z-index: 4;
  transform: translateX(-55%);
}
.about .about-young-girl {
  position: absolute;
  left: 56.5%;
  bottom: 27%;
  z-index: 4;
  transform: translateX(-55%);
}
.about .about-circle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-35%);
  z-index: 2;
  max-width: 897px;
  max-height: 897px;
}
.about .about-box {
  z-index: 4;
  position: absolute;
  left: -5.55%;
  bottom: 0;
  background-color: #1A1D30;
  max-width: 899px;
  height: 290px;
}
.about .about-box .about-box-header {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 90px;
}
.about .about-box .about-box-descr {
  color: #CCCCCC;
  font-size: 18px;
}
.about .about-box .first-w {
  max-width: 202px;
}
.about .about-box .second-w {
  max-width: 246px;
}
.about .about-young-man {
  position: absolute;
  left: 70%;
  bottom: 0;
  transform: translateX(-35%);
  z-index: 4;
  max-width: 606px;
  max-height: 742px;
}

.services-section {
  background-color: #F5F4FB;
}

.services {
  position: relative;
  margin-left: 100px;
  max-width: 1600px;
  height: 1100px;
}
.services .mt-200 {
  margin-top: 200px;
}
.services .services-header {
  max-width: 533px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  line-height: 65px;
}
.services .services-descr {
  max-width: 493px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
.services .services-young-man {
  position: absolute;
  left: 7.6%;
  bottom: 0;
  transform: translateX(-35%);
}
.services .service-option {
  max-height: 285px;
}
.services .service-option .option .option-number {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
.services .service-option .option .option-header {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  stroke: 0.5 #000000;
}
.services .service-option .option .explore {
  margin-left: 105px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.services .service-option .option img {
  max-width: 68px;
  max-height: 68px;
}
.services .service-option .orange {
  color: #F65606;
}
.services .service-option .purple {
  color: #BF6FE1;
}
.services .service-option .darkblue {
  color: #1A1D30;
}

.cstmz {
  position: relative;
  max-width: 1600px;
  height: 1400px;
  margin: 0;
}
.cstmz-container {
  margin: auto;
  padding: 0;
  max-width: 1375px;
  height: 1072px;
}
.cstmz-header {
  margin-left: 180px;
  max-width: 1148px;
  color: #1A1D30;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
}
.cstmz-center {
  margin-top: 108px;
}
.cstmz-center-descr {
  max-width: 420px;
  margin-top: 71px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 20px;
}
.cstmz-center-btn {
  width: 184px;
  height: 63px;
  margin-top: 52px;
  color: white;
  background-color: #F65606;
  border: none;
  border-radius: 0.25rem;
}
.cstmz-center-person {
  max-width: 808px;
  max-height: 470px;
}
.cstmz-footer {
  height: 145px;
  margin-top: 100px;
}
.cstmz-footer-number {
  font-size: 180px;
}
.cstmz-footer-info {
  margin-left: 56px;
  margin-top: 25px;
}
.cstmz-footer-info-header {
  color: #1A1D30;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}
.cstmz-footer-info-descr {
  width: 555px;
  margin-top: 22px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 20px;
}
.cstmz-footer-info-hands {
  margin-left: 80px;
}