.about{
    z-index: 0;
    background-color: $primary;
    max-width: 1440px;
    height: 1280px;
    margin: auto;
    position: relative; 

    &-header {
        font-family: $ff-base;
        font-size: 80px;
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -170%); 
    }

    .buttons{
        position: absolute;
        top: 35%; 
        z-index: 6;
    }
    &-btn{
        max-width: 184px;
        height: 63px;
        
    }  
    .get-started{ 
        color: white;
        background-color: #F65606;
        border: none;
        border-radius: 0.25rem;
    }  

    &-icon {
        position: absolute; 
        left: 80%; 
        bottom: 69%; 
        z-index: 0;
        transform: translateX(-55%);
        max-width: 186px;
        max-height: 110px;
    }
    &-ellipses {
        position: absolute; 
        left: 50%; 
        bottom: 68%; 
        z-index: 4;
        transform: translateX(-55%);
    }
    &-young-girl{
        position: absolute; 
        left: 56.5%; 
        bottom: 27%; 
        z-index: 4;
        transform: translateX(-55%);
    }

    &-circle {
        position: absolute; 
        left: 50%; 
        bottom: 0; 
        transform: translateX(-35%);
        z-index: 2;
        max-width: 897px;
        max-height: 897px;
    }

    // Black box
    &-box {
        z-index: 4;
        position: absolute; 
        left: -5.55%; 
        bottom: 0; 
        background-color: #1A1D30;
        max-width: 899px;
        height: 290px;

        &-header {
            color: white;
            font-family: $ff-base;
            font-size: 90px;
        }

        &-descr {
            color: #CCCCCC;
            font-size: 18px;
        }

        .first-w {
            max-width: 202px;
        }

        .second-w {
            max-width: 246px;
        }
    }
    // Black box
    // Young man with laptop
    &-young-man{
        position: absolute; 
        left: 70%; 
        bottom: 0; 
        transform: translateX(-35%);
        z-index: 4;
        max-width: 606px;
        max-height: 742px;
    }
    // Young man with laptop
}

