.about{
    z-index: 0;
    background-color: $primary;
    max-width: 1440px;
    height: 1280px;
    margin: auto;
    position: relative; 

    &-header {
        font-family: $ff-base;
        font-size: 80px;
        line-height: 80px;
        position: absolute; 
        top: 8%
    }
    .buttons{
        display: flex;
        justify-content: center;
        z-index: 6;
        margin-top: -200px;
    }
    &-btn{
        width: 184px;
        height: 63px;
        
    }  
    .get-started{ 
        color: white;
        background-color: #F65606;
        border: none;
        border-radius: 0.25rem;
    }  

    &-icon {
        position: absolute; 
        left: 80%; 
        bottom: 69%; 
        z-index: 0;
        transform: translateX(-55%);
        max-width: 186px;
        max-height: 110px;
    }
    &-ellipses {
        position: absolute; 
        left: 50%; 
        bottom: 68%; 
        z-index: 4;
        transform: translateX(-55%);
    }
    &-young-girl{
        position: absolute; 
        left: 56.5%; 
        bottom: 27%; 
        z-index: 4;
        transform: translateX(-55%);
    }

    &-circle {
        position: absolute; 
        left: 50%; 
        bottom: 0; 
        transform: translateX(-35%);
        z-index: 2;
        max-width: 897px;
        max-height: 897px;
    }

    // Black box
    &-box {
        z-index: 4;
        position: absolute; 
        left: -5.55%; 
        bottom: 0; 
        background-color: #1A1D30;
        max-width: 899px;
        height: 290px;

        &-header {
            color: white;
            font-family: $ff-base;
            font-size: 90px;
        }

        &-descr {
            color: #CCCCCC;
            font-size: 18px;
        }

        .first-w {
            max-width: 202px;
        }

        .second-w {
            max-width: 246px;
        }
    }
    // Black box
    // Young man with laptop
    &-young-man{
        position: absolute; 
        left: 70%; 
        bottom: 0; 
        transform: translateX(-35%);
        z-index: 4;
        max-width: 606px;
        max-height: 742px;
    }
    // Young man with laptop
}
@media (max-width: 575.98px) { 
    .about{
        height: 440px;
    }
    .buttons{
        bottom: -50%;
        left: 0%;
    }
}
@media (max-width: 767.98px) { 
    .buttons{
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 35%;
        margin: 0;
        margin-top: -250px;
    }
    .about-header{
        top: 3%;
        font-size: 36px;
        line-height: 38px;
    }
    .about-young-girl{
        bottom: 23%;
    }
}
@media (max-width: 991px) { 
    .buttons{
        margin-top: 10px;
    }
    .about-header{
        top: 5%;
    }
    .about-young-girl{
        bottom: 23%;
    }
}
