.cstmz{
    position: relative;
    max-width: 1600px;
    height: 1400px;
    margin: 0;
    &-container{
        margin: auto;
        padding: 0;
        max-width: 1375px;
    }
    &-header{
        margin-left: 180px;
        max-width: 1148px;
        color: #1A1D30;
        font-family: $ff-base;
        font-weight: 600;
        font-size: 60px;
        line-height: 60px;
    }
    &-center{
        margin-top: 108px;
        &-descr{
            max-width: 420px;
            margin-top: 71px;
            font-family: $ff-base;
            font-size: 20px;
            line-height: 20px;
        }
        &-btn{ 
            width: 184px;
            height: 63px;
            margin-top: 52px;
            font-family: $ff-base;
            color: white;
            background-color: #F65606;
            border: none;
            border-radius: 0.25rem;
        }
        &-person{
            width: 808px;
            height: 470px;
            background-image: url("images/cstmzPerson.png");
        }
    }
    &-footer{
        height: 145px;
        margin-top: 100px;
        &-number{
            font-size: 180px;
        }
        &-info{
            margin-left: 56px;
            margin-top: 25px;
            &-header{
                color: #1A1D30;
                font-family: $ff-base;
                font-size: 30px;
                font-weight: 600;
                line-height: 30px;
            }
            &-descr{
                width: 555px;
                margin-top: 22px;
                font-family: $ff-base;
                font-size: 20px;
                line-height: 20px;
            }
            &-hands{
                margin-left: 80px;
            }
        }
    }
}
@media (max-width: 1199.98px) { 
    .cstmz{
        height: 1550px;
    }
    .cstmz-container{
        height: 90%;
    }
    .cstmz-center, .cstmz-center-descr{
        margin-top: 40px;
    }
    .cstmz-center-person{
        margin: auto;
    }
    .cstmz-header{
        width: 80%;
        margin: auto;
        font-size: 50px;
        line-height: 50px;
    }
    .cstmz-center-info{
        width: 80%;
        margin: auto;
    }
    .cstmz-footer{
        height: 30%;
        margin-top: 20px;
    }
}
@media (max-width: 991.98px) { 
    .cstmz{
        height: 1350px;
    }
    .cstmz-center-person{
        width: 80%;
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .cstmz-footer-info{
        width: 80%;
        margin: auto;
    }
}
@media (max-width: 768px) { 
    .cstmz{
        height: 1250px;
    }
    .cstmz-header{
        font-size: 40px;
        line-height: 40px;
    }
    .cstmz-footer-number{
        font-size: 160px;
    }
    
}
@media (max-width: 575.98px) { 
    .cstmz{
        height: 1200px;
    }
    .cstmz-header{
        font-size: 30px;
        line-height: 30px;
    }
    .cstmz-center-person{
        width: 80%;
        height: 200px;
    }
    .cstmz-center-descr{
        margin-top: 10px;
    }
    .cstmz-center-btn{
        margin-top: 35px;
    }
    .cstmz-footer-number{
        font-size: 120px;
    }
}