nav{
    z-index: 1;
    .navbar-brand{
        span{
            color: #F65606;
        }
    }
    .btn-custom{
        width: 165px;
        height: 55px;
    }
}
.container-fluid{
    background-color: $primary !important;
}