.services-section{
    background-color: $secondary;
}
.services{
    position: relative;
    margin-left: 100px;
    max-width: 1600px;
    height: 1100px;
    &-info{
        margin-top: 200px;
    }
    .services-header{
        max-width: 533px;
        color: black;
        font-family: $ff-base;
        font-size: 60px;
        line-height: 65px;
    }
    .services-descr{
        max-width: 493px;
        color: black;
        font-family: $ff-base;
        font-size: 18px;
    }
    .services-young-man{
        position: absolute; 
        left: 7.6%; 
        bottom: 0; 
        transform: translateX(-35%);
    }
    .service-option{
        max-height: 285px;
        .option{
            .option-number{
             font-family: $ff-base;
             font-size: 30px;
            }
            .option-header{
             font-family: $ff-base;
             font-weight: 600;
             font-size: 40px;
             line-height: 40px;
             stroke: 0.5 #000000;
            }
         .explore{
            margin-left: 105px;
            font-family: $ff-base;
            font-size: 20px;
            }
         img{
             max-width: 68px;
             max-height: 68px;
         }
        }
        .orange{
            color: #F65606;
        }
        .purple{
            color: #BF6FE1;
        }
        .darkblue{
            color: #1A1D30;
        }
    }
}
@media (max-width: 1199.98px) { 
    .services-header{
        font-size: 56px !important;
    }
    .explore{
        margin-left: 0px !important;
    }
}
@media (max-width: 991.98px) { 
    .services{
        height: 1500px;
    }
    .services-options, .services-inform{
        width: 75%;
    }
}
@media (max-width: 768px) { 
    .services-header{
        font-size: 48px !important;
    }
    .services-info{
        margin-top: 100px !important;
    }
 }
@media (max-width: 575.98px) { 
    .services{
        height: 1300px;
        margin-left: 0;
    }
    .services-options, .services-inform{
        margin-top: 0 !important;
        width: 90%;
        margin: auto;
    }
    .services-header{
        font-size: 32px !important;
    }
    .option-header{
        justify-content: space-evenly;
        font-size: 26px !important;
        line-height: 26px !important;
    }
    .option-number{
        font-size: 20px !important;
    }
    .option-link{
        width: 40px;
    }
}