.team{
    position: relative;
    background-color: $primary;
    max-width: 1600px;
    height: 1048px;
    margin: 0;
    &-container{
        max-width: 1352px;
        height: 706px;
        margin: 114px 200px 228px 48px;
        &-info{
            width: 873px;
            height: 706px;
            &-header{
                max-width: 705px;
                color: #1A1D30;
                font-family: $ff-base;
                font-size: 60px;
                line-height: 60px;
                margin: 76px 116px 118px 52px;
            }
            .carousel-scroll{
                max-width: 134px;
                margin: auto;
                margin-top: 56px;
            }
            &-descr{
                .avatar{
                    max-width: 87px;
                }
                &-img{
                    max-width: 210px;
                }
                &-details{
                    margin-left: 130px;
                }
                .full-name{
                    color: #1A1D30;
                    font-family: $ff-base;
                    font-size: 30px;
                    line-height: 30px;
                }
                .member-descr{
                    width: 437px;
                    font-size: 16px;
                    margin-top: 38px;
                }
            }
        }
        &-personimg{
            max-width: 479px;
            height: 706px;
        }
    }
}
@media (min-width: 1325px) { 
  .team-container{
    flex-direction: row !important;
  }
}
@media (max-width: 1325px) { 
    .team{
        height: 1500px;
    }
    .team-container{
        width: 90%;
        margin: auto;
    }
    .team-container-personimg{
        margin: auto;
        margin-top: 40px;
    }
}
@media (max-width: 991.98px) { 
    .team-container-info-descr-details{
        margin-left: 20px;
    }
    .team-container-info{
        width: 100%;
    }
}
@media (max-width: 768px) { 
    .team-container-info-descr{
        margin: auto;
        width: 100%;
    }
    .team-container-personimg{
        margin-top: 70px;
    }
}
@media (max-width: 575.98px) { 
    .member-descr{
        width: 90%;
        font-size: 16px;
        margin-top: 38px;
    }
    .team-container-personimg{
        // width: 70%;
    }
}
